:root {
    background: #e3effb;
}

:target {
    background: #384047;
    color:white;
}

#col-c:target {
    background: #eff1f2;
    color: initial;
    box-shadow: 0 0 6px rgba(0,0,0, .2);
}


input:not([type="submit"]) {
    box-shadow: inset 0 2px 0 rgba(0,0,0, .15);
}

.col:not(:first-child),
nav a:not(:first-child) {
    margin-left: 15px;
}

/* 

    Quick Reference

    :root - MDN
    https://developer.mozilla.org/en-US/docs/Web/CSS/:root

    :target - MDN
    https://developer.mozilla.org/en-US/docs/Web/CSS/:target



    Examples:

    Triggering a CSS Animation with :target
    http://codepen.io/Guilh/pen/QwvxOp

*/

/* 
    Quick Reference

    :not() - MDN
    https://developer.mozilla.org/en-US/docs/Web/CSS/:not


    Using :not()

    This selector targets all input elements that do not have a type value of button:

    input:not([type="button"]) {
    border-color: blue;
    } 
*/